.title-span
{    
     font-family:        sans-serif;
     font-weight:        bold;
     font-size:          150%;
     letter-spacing:     1px;
}

.subtitle-span
{    
     font-family:        sans-serif;
     font-weight:        bold;
     font-size:          100%;
     letter-spacing:     1px;
}

.tbc-span
{    
     font-family:        sans-serif;
     font-weight:        bold;
     font-size:          100%;
     letter-spacing:     3px;
}

.section-name-span
{    
     font-family:        sans-serif;
     font-weight:        bold;
     color:              #b8b8b8;
     letter-spacing:     1px;     
}

.subsection-title-span
{    
     font-family:        sans-serif;
     font-weight:        bold;
     font-size:          110%;
     letter-spacing:     1px;
}

body
{
     background: #f0f0f0;		
}

img
{
     width: auto;
}

#title
{
     text-align: center;
}

#main
{
	max-width: 760px;
	height:auto;
     margin: 0 auto;
	border-style:solid;
	border-color:gray;
	border-width:3px;
	background-color: #ffffff;		
     padding: 33px 33px 33px 33px;
}

.section-outer
{
     margin: 1px;
     padding: 1px;
}

.section-left
{
     vertical-align: top;
     min-width: 87px;     
     max-width: 120px;
     text-align: right;
     padding-right: 8px;
     padding-top: 0px;
}

.section-right
{
     vertical-align: top;
     max-width: 600px;
     text-align: left;
}

p.index
{
     text-align: center;
}

a.index
{
     font-size: 110%;
	text-decoration: none;
	font-weight:bold;
	letter-spacing:2px;
	text-align:center;
     font-family: serif;
     margin: 6px;
     padding: 3px;
}

a.index:visited
{
	color:#000000;
}
a.index:link
{
	color:#000000;
}

a.index:hover
{
	color:#202020;
	border-color:black;
     text-decoration: underline;
	border-width:2px 2px 2px 2px;     
     padding: 2px;
}

a.index:active
{
	color:white;
	border-color:white;
	background-color:black;
}


ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
